@font-face {
    font-family: segaFont;
    src: url(./fonts/SEGA.TTF);
  }

body {
    background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128,128,1) 100%);
}
h1 {
    font-family: segaFont;
    font-weight: 200;
    color: #0ccac4;
}